<a href="https://colab.research.google.com/github/masira-syd29/100-Pandas-Exercises/blob/main/01_Getting_%26_knowing_your_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Ex1 - Getting and knowing your Data

*Step* 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

Step 2. Download the dataset to your computer and unzip it.

In [ ]:
import pandas as pd
import numpy as np

Step 3. Use the tsv file and assign it to a dataframe called food

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Assuming you moved the file into a folder named 'pandas_data' in your Drive
file_path = '/content/drive/MyDrive/Pandas/en.openfoodfacts.org.products.tsv'

In [ ]:
# Read the file with the correct separator
food = pd.read_csv(file_path, sep='\t')

/tmp/ipython-input-144296541.py:2: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv(file_path, sep='\t')

In [ ]:
# food = pd.read_csv('/content/en.openfoodfacts.org.products.tsv', sep='\t') Traditional method so we skipped this instead of uploading this large dataset again and again we mounted gdrive to colab

Step 4. See the first 5 entries

In [ ]:
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Step 5. What is the number of observations in the dataset?

In [ ]:
food.shape

(356027, 163)

In [ ]:
food.shape[0]

356027

Step 6. What is the number of columns in the dataset?

In [ ]:
print(food.shape)
print(food.shape[1])

food.info()

(356027, 163)
163
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356027 entries, 0 to 356026
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 442.8+ MB

Step 7. Print the name of all the columns.

In [ ]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

Step 8. What is the name of 105th column?

In [ ]:
food.columns[104]

'-glucose_100g'

Step 9. What is the type of the observations of the 105th column?

In [ ]:
food.dtypes['-glucose_100g']

dtype('float64')

Step 10. How is the dataset indexed?

In [ ]:
food.index

RangeIndex(start=0, stop=356027, step=1)

Step 11. What is the product name of the 19th observation?

In [ ]:
food.values[18][7]

'Lotus Organic Brown Jasmine Rice'

##Ex2 - Getting and Knowing your Data

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Step 5. What is the number of observations in the dataset?

In [ ]:
chipo.shape[0]

4622

In [ ]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

Step 11. What was the most ordered item in the choice_description column?

In [ ]:
c=chipo.groupby('choice_description').sum()
c=c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

Step 12. How many items were orderd in total?

In [ ]:
total_items_ordered = chipo.quantity.sum()
total_items_ordered

np.int64(4972)

Step 13. Turn the item price into a float

Step 13.a. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('O')

Step 13.b. Create a lambda function and change the type of item price

In [ ]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

Step 13.c. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('float64')

Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipo['quantity']*chipo['item_price']).sum()
print('Revenue was $ '+str(np.round(revenue, 2)))

Revenue was $ 39237.02

Step 15. How many orders were made in the period?

In [ ]:
orders = chipo.order_id.value_counts().count()
orders

np.int64(1834)

Step 16. What is the average revenue amount per order?

In [ ]:
# # Solution 1
# chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)
# chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# order_grouped = chipo.groupby(by=['order_id']).sum()
# average_revenue = order_grouped.mean()
# print(f"The average revenue amount per order is: ${average_revenue:,.2f}")

In [ ]:
# solution 2
chipo.groupby('order_id')['revenue'].sum().mean()

KeyError: 'Column not found: revenue'

In [ ]:
# chipo['revenue'] = chipo['item_price'] * chipo['quantity']
# order_grouped = chipo.groupby(by=['order_id']).sum()
# order_grouped.mean()['revenue']

Step 17. How many different items are sold?

In [ ]:
chipo.item_name.value_counts().count()

##Ex3 - Getting and Knowing your Data

Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

Step 4. See the first 25 entries

In [ ]:
users.head(25)

Step 5. See the last 10 entries

In [ ]:
users.tail(10)

Step 6. What is the number of observations in the dataset?

In [ ]:
users.shape[0]

Step 7. What is the number of columns in the dataset?

In [ ]:
users.shape[1]

Step 8. Print the name of all the columns.

In [ ]:
users.columns

Step 9. How is the dataset indexed?

In [ ]:
users.index

Step 10. What is the data type of each column?

In [ ]:
users.dtypes

Step 11. Print only the occupation column

In [ ]:
users.occupation

In [ ]:
users['occupation']

Step 12. How many different occupations are in this dataset?

In [ ]:
users.occupation.nunique()

In [ ]:
users.occupation.value_counts().count()

Step 13. What is the most frequent occupation?

In [ ]:
users.occupation.value_counts().head(1).index[0]

Step 14. Summarize the DataFrame.

In [ ]:
users.describe()

Step 15. Summarize all the columns

In [ ]:
users.describe(include='all')

Step 16. Summarize only the occupation column

In [ ]:
users.occupation.describe()

Step 17. What is the mean age of users?

In [ ]:
round(users.age.mean())

Step 18. What is the age with least occurrence?

In [ ]:
users.age.value_counts().tail()